<div class="container">
  <div class="row">
    <%= link_to car_path(@car), class: "arrow_back" do %>
     <i class="fa-solid fa-arrow-left" ></i>
    <% end %>
    <h1 class="font">Your Booking</h1>
        <div class="col-6 ">
          <div class="">
             <p class=" border-top">Start date: <%= @booking.start_date.strftime("%b %d, %Y") %></p>
             <p class="border-bottom">End date:<%=@booking.end_date.strftime("%b %d, %Y") %></p>
          </div>
        </div>



    <div class="col-6">
      <h4 class="font">Details price</h1>
      <div class="card-border">
        <% if @booking.car.photos.attached? %>
            <% @booking.car.photos.each do |photo|%>
              <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top ", style: "border-radius: 30px 30px 0px 0px ; background-size: cover;"  %>
        <% end %>
        <% else %>
        <img src="https://wallpaperset.com/w/full/2/d/b/483054.jpg" alt="car" style="border-radius: 30px;" >
        <% end %>

        <div class=" p-2" style="background-color: white; border-radius: 0px 0px 30px 30px ;">
            <div class=>
                <p>Model: <%= @booking.car.model%></p>
                <p>Book: <%= (@booking.end_date - @booking.start_date ).to_i %> days x <%= @booking.car.price %> = <%= @total %>$</p>
                <p><%= @booking.car.price%>€</p>
                <p>Total : <%= @total %>€</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
