<h1>Your details of your request</h1>
<% if @booking.car.photos.attached? %>
  <% @booking.car.photos.each do |photo|%>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top " %>
  <% end %>
<% else %>
  <img src="https://wallpaperset.com/w/full/2/d/b/483054.jpg" class="card-img-top " alt="car" >
<% end %>
<ul>
  <li><%= @booking.user.first_name %></li>
  <li><%= @booking.user.last_name %></li>
  <li><%= @booking.car.price %>$</li>
  <li><%= @booking.start_date %></li>
  <li><%=@booking.end_date %></li>
</ul>
