<div class=""  style="background-color: linear-gradient(#E6E1E1, #EBF3EB)">
  <div class="">

  </div>

  <div class="row">
    <div class="col-6 flex-fill m-2 card-border ms-3" style="width:50vh ; height: 50vh; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "https://media.istockphoto.com/id/1152086667/vector/abstract-futuristic-neon-glowing-concept-car-silhouette-automotive-template-for-your-banner.jpg?s=612x612&w=0&k=20&c=VnXrtEs02dmaD3hlC3Iln5Z9UsC-svltNIqaV1cbkIc=" %>'); background-repeat: no-repeat; background-size: cover;"
    >
    </div>

    <div class="col-6 border flex-fill m-2 border card-border border-dark" style="width: 50vh; height: 50vh; background-color: #99A98F;">
      <div class="d-flex text-align-center justify-content-center me-5 p-3">
        <h2 class="text-white "> Welcome to Le-auto</h2>
      </div>
      <div class="d-flex text-align-center justify-content-center me-5 container">
        <p class="text-white fs-4"> Cultural Aware Content
        Mix and match vehicles, people, surroundings and company branding.
        Every vehicle you offer in spectacular surroundings and people of ethnicity
        relevant to your audience, branded as you see fit. Make your advertising even more effective
         than before without spending a fortune on expensive photo shoots.
         </p>
      </div>
      <div class="d-flex text-align-center justify-content-center me-5 container">
        <%= link_to "Book your car", cars_path, class: "text-decoration-none btn btn-dark card-border " %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4 mflex-fill m-2 ms-3 card-border" style="width: 50vh; height: 50vh; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "https://hips.hearstapps.com/hmg-prod/images/16705-kia-motors-accelerates-business-transformation-to-become-a-leading-ev-1600284937.jpg?crop=0.7688888888888888xw:1xh;center,top&resize=1200:*" %>'); background-repeat: no-repeat; background-size: cover;">
    </div>

    <div class="col-4 flex-fill m-2 card-border border border-dark" style="width: 20vh; height: 50vh; background-color: #F2E3DB;">
    <div class="d-flex text-align-center justify-content-center me-5 p-5">
        <h2 class="text-dark"> We are the best option you have </h2>
      </div>
      <div class="d-flex text-align-center justify-content-center me-5 container">
        <p class="text-dark fs-5 text-wrap"> aliquet lectus proin nibh nisl condimentum.
        Tellus in metus vulputate eu scelerisque felis. Neque ornare aenean euismod
        elementum nisi. Sapien faucibus et molestie ac feugiat sed. Ullamcorper
         malesuada proin libero nunc consequat interdum varius sit amet. Sit amet
         justo donec enim diam. Lacus vestibulum sed arcu non odio. Augue neque

         </p>
      </div>

    </div>

    <div class="col-4mflex-fill m-2 card-border" style="width:50vh; background-image: url('https://bloximages.chicago2.vip.townnews.com/thesunchronicle.com/content/tncms/assets/v3/editorial/0/68/0688110d-bc10-5858-8b39-95f4d6525b0b/6435964e5530d.image.jpg?crop=1800%2C945%2C0%2C103&resize=1200%2C630&order=crop%2Cresize'); background-repeat: no-repeat; background-size: cover;">
    </div>
  </div>
  <div class="row">
    <div class="col-6 border flex-fill m-2 ms-3 card-border border border-dark" style="width: 50vh; height: 50vh; background-color: #99A98F;">
      <div class="d-flex text-align-center justify-content-center me-5 p-3">
        <h2 class="text-white"> 24hr Services</h2>
      </div>
      <div class="d-flex text-align-center justify-content-center me-5 container">
        <p class="text-white fs-4 p-1 text-wrap"> We give you the best service and
         attention 24 hours a day to guarantee your well-being and the reliability
         of our services. branded as you see fit. Make your advertising even more effective
        than before without spending a fortune on expensive photo shoots.
        </p>
      </div>
      <div class="d-flex text-align-center justify-content-center me-5 container">
        <%= link_to "Contact us", cars_path, class: "text-decoration-none btn btn-dark card-border " %>
      </div>
    </div>

    <div class="col-6 flex-fill m-2 card-border" style="width:50vh ; height: 50vh; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "https://media.istockphoto.com/id/1320765059/vector/green-neon-glowing-in-the-dark-electric-car-on-high-speed-running-concept-fast-ev-silhouette.jpg?s=612x612&w=0&k=20&c=DChryHlzMF1AEx2kgw1eICSDYOMuXffsoUEv9eA4YTU=" %>'); background-repeat: no-repeat; background-size: cover;">
    </div>
  </div>
</div>
