
<%= render "shared/navbar" %>
<div class="banner text-align-center" style="height: 300px;">
  <div class="d-flex justify-content-center align-items-end"">
  <h1 class="text-light"> Welcome to Le-Auto</h2>
  </div>
</div>
<div class="container mb-2 mt-2" style="width: 500px;">
<div></div>
      <form class="d-flex ">
        <input class="form-control grap w-75 bg-dark text-white card-border" name="query" type="search" placeholder="Search" aria-label="Search" value="<%= params[:query] %>">
        <button class="btn2 btn btn-outline-dark p-1 card-border" type="submit" style="background-image: url('https://png.pngtree.com/background/20230412/original/pngtree-car-light-effect-light-blue-picture-image_2397923.jpg'); background-size: cover;">Search</button>
      </form>
</div>

<div class="container mt-2 bg">
  <div class = "d-flex flex-wrap justify-content-start">
      <% @cars.each do |car| %>
          <div class="m-2 " style="width: 300px;">
            <div class="card-trip">
              <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <% if car.photos.attached? %>
                      <% car.photos.each do |photo|%>
                        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top " %>
                      <% end %>
                    <% else %>
                      <img src="https://wallpaperset.com/w/full/2/d/b/483054.jpg" class="card-img-top " alt="car" >
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="card-trip-infos">
              <div>
              <h2 class="card-title"><%= car.model %></h2>
              <p class="card-text">Address: <%= car.city %><br>Year: <%= car.year %>
              </p>
              </div>
              <h2 class="card-trip-pricing"><%= car.price%>$</h2>
              <%= cl_image_tag current_user.photo.key, class: "card-trip-user avatar-bordered" %>
              </div>
              <%= link_to "Book Car",car_path(car), class: "text-decoration-none btn btn-outline-dark m-2 p-1 card-border"%>
              <%= link_to "Delete",
              car_path(car),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-outline-warning text-decoration-none p-1 m-2 card-border"
              %>
            </div>
          </div>
      <% end %>
  </div>
</div>
