<div class="navbar bg-primary bg-gradient" style="height: 300px;">
<h2> Here are your car list </h2>
</div>

<div class="container">

  <div class="row">
    <div class="col-8">
      <div class="col-8">
        <h2> here go the car content </h2>
          <%= link_to "create a new card", new_car_path %>
            <div class="card" style="width: 18rem;">
              <ul>
                  <% @cars.each do |car| %>
                  <li>
                  <img src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Mercedes-Benz/GLA/7269/1621948227508/front-left-side-47.jpg?impolicy=resize&imwidth=480" class="card-img-top" alt="cars" />
                    <div class="card-body">
                    <%= car.model %>
                    <%= car.price%>$
                    <%= car.city %>
                    <%= car.year %>
                    <% end %>
                  </li>
              </ul>
            </div>
      </div>
    </div>
    <div class="col-4">
      <h2> here go the form </h2>
    </div>
  </div>
</div>




  <img src="..." >

    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
