
<div class="col-12 col-sm-12 col-lg-12 banner text-align-center" style="height: 300px;">
  <div class="d-flex justify-content-center align-items-end"">
  <h1 class="text-light"> Welcome to Le-Auto</h2>
  </div>
</div>
<div class="col-12 col-sm-12 col-lg-12 mb-2 mt-2 d-flex flex-column align-items-center">
  <div class=""  style="width: 500px;">
    <form class="d-flex ">
      <input class="form-control grap w-75 bg-dark text-white card-border" name="query" type="search" placeholder="Search" aria-label="Search" value="<%= params[:query] %>">
      <button class="btn2 btn btn-outline-dark p-1 card-border" type="submit" style="background-image: url('https://png.pngtree.com/background/20230412/original/pngtree-car-light-effect-light-blue-picture-image_2397923.jpg'); background-size: cover;">Search</button>
    </form>
  </div>
</div>

<div class="container mt-2 bg">
  <div class = "d-flex flex-wrap justify-content-center">
      <% @cars.each do |car| %>
          <div class="m-2 " style="width: 300px;">
            <div class="card-trip ">
              <% if car.photos.attached? %>
                <%= cl_image_tag car.photos.first.key, class: "img-height" %>
              <% else %>
                <img src="https://wallpaperset.com/w/full/2/d/b/483054.jpg" class="img-height" alt="car" >
              <% end %>
              <div class="card-trip-infos">
                <div>
                  <h2 class="card-title"><%= car.model %></h2>
                  <p class="card-text">Address: <%= car.city %><br>Year: <%= car.year %>
                  </p>
                </div>
                <h2 class="card-trip-pricing"><%= car.price%>€/Day</h2>
                <%= cl_image_tag car.user.photo.key, class: "card-trip-user avatar-bordered" %>
              </div>
              <%= link_to "View",car_path(car), class: "text-decoration-none btn btn-outline-dark m-2 p-1 card-border"%>
            </div>
          </div>
      <% end %>
  </div>
</div>


<%# link_to "Delete",
car_path(car),
data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-outline-warning text-decoration-none p-1 m-2 card-border"
%>
