<div class="navbar banner" style="height: 300px;">
<h2> Here are your car list </h2>
</div>

<div class="container">

  <div class="row">
    <h2> here go the car content </h2>
    <%= link_to "create a new card", new_car_path %>
    <div class = "d-flex flex-wrap justify-content-around">
      <% @cars.each do |car| %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
              <% if car.photos.attached? %>
              <% car.photos.each do |photo|%>
                <%= cl_image_tag photo.key, height: 255, width: 200, crop: :fit %>
              <% end %>
            <% end %>
            <%# <img src="https://wallpaperset.com/w/full/2/d/b/483054.jpg" class="card-img-top" alt="car"> %>
            <h5 class="card-title"><%= car.model %></h5>
            <p class="card-text">
              <%= car.price%>$
              <%= car.city %>
              <%= car.year %>
            </p>

            <%= link_to "Book Your Car", car_path(car) %>
            <%= link_to "Edit car Info", edit_car_path(car) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
        <div class="col-4">
          <h2> here go the form </h2>
        </div>
    </div>
</div>



<%#
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div> %>
