<div class="">
  <%= render "shared/navbar" %>
</div>
<div class="banner text-align-center" style="height: 300px;">
  <div class="d-flex justify-content-center align-items-end"">
  <h1 class="text-dark"> Welcome to Le-Auto</h2>
  </div>
</div>
<div class="container mb-2 " style="width: 500px;">
<div></div>
      <form class="d-flex ">
        <input class="form-control grap w-75 bg-dark text-white card-border" name="query" type="search" placeholder="Search" aria-label="Search" value="<%= params[:query] %>">
        <button class="btn btn-outline-dark p-1 card-border" type="submit">Search</button>
      </form>
</div>

<div class="container mt-2 bg-light card-border">
  <div class="row">
    <div class = "d-flex flex-wrap justify-content-between card-border">
      <% @cars.each do |car| %>
        <div class="card m-2" style="width: 300px;">
          <div class=" card card-border">
            <% if car.photos.attached? %>
              <img src=<%= cl_image_tag photo.key %> >
             <% else %>
            <img src="https://wallpaperset.com/w/full/2/d/b/483054.jpg" class="card-img-top" alt="car">
            <% end %>
            <h5 class="card-title"><%= car.model %></h5>
            <p class="card-text">
              <%= car.price%>$-
              <%= car.city %>-
              <%= car.year %>
            </p>
            <% if car.photos.attached? %>
              <% car.photos.each do |photo|%>
                <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div
    </div>
</div>
