<div class="container bg-">
<h1>Please introduce the details of  your car</h1>
<ol>
  <%= simple_form_for (@car) do |f| %>
    <%= f.input :model %>
    <%= f.input :price %>
    <%= f.input :year %>
    <%= f.input :city %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit %>
    <% end %>
  </div>
