<div class="" style="height: 100vh;">
 <%= render "shared/navbar" %>
  <div class="container card p-2 banner" style="height: auto;">
   <div class="row">
   <div class="col-8 ">
    <h1>Please introduce the details of  your car</h1>
          <%= simple_form_for (@car) do |f| %>
            <%= f.input :model %>
            <%= f.input :price %>
            <%= f.input :year %>
            <%= f.input :city %>
            <%= f.input :photos, as: :file, input_html: { multiple: true } %>
            <%= f.button :submit, class: "btn btn-outline-dark p-0" %>
          <% end %>

      </div>
      <div class="col-4">
        <%= image_tag('https://res.cloudinary.com/dyl8jagdn/image/upload/v1685452801/development/young-woman-with-microphone-working-on-record-studio-scaled-e1632251040963_zlbwr2.jpg', crop: :fill, class: "image-size")  %>
        <h3 class="fs-5 ">if you have a question please <%= link_to "contact us", cars_path, class: "text-decoration-none"%> </h3>
      </div>
    </div>
  </div>
</div>
