<div class="container">
<h1>please introduce the details of  your car</h1>
<%= simple_form_for (@car) do |f| %>
  <%= f.input :model %>
  <%= f.input :price %>
  <%= f.input :year %>
  <%= f.input :city %>
  <%= f.submit %>
  <% end %>
</div>
