<%= render "shared/navbar" %>
<div class="container" style="height: 100vh;">
  <div class="row">
    <div class="col-6">
      <div class="card-trip" style="height: 50em;">
      <h2 class="card-title fs-2"><%= @car.model %></h2>
      <p class="card-text fs-4">Address: <%= @car.city %><br>Year: <%= @car.year %></p>
          <%= cl_image_tag @car.photos.first.key, style: "height: 500px;"%>
        <div class="card-trip-infos">
          <div class="">
            <p><i class="fa-regular fa-gas-pump fa-beat" style="color: #070708;"></i></p>
            <p>full tank of combustible</p>
          </div>
          <h2 class="card-trip-pricing"><%= @car.price%>$</h2>
          <%= cl_image_tag @car.user.photo.key, class: "card-trip-user avatar-bordered" %>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="">
        <%= simple_form_for [@car, @booking], data: { controller: 'flatpickr' } do |f| %>
          <div style="width: 300px;">
          <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
          </div>
          <div style="width: 300px;">
          <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endTime" } } %>
          </div>
          <%= f.submit 'Book Car' %>
        <% end %>
      </div>
    </div>
  </div>
</div >
