<%= render "shared/navbar" %>
<div class="container" style="height: 100vh;">
  <div class="row">
    <div class="col-6">
      <div class="card-trip " style="height: 40em; border-radius: 10px 10px 50px 0px ;">
          <%= cl_image_tag @car.photos.first.key, class: "",  style: "height: 500px;"%>
        <div class="card-trip-infos">
          <div class="">
            <h2 class="card-title fs-2"><%= @car.model %></h2>
            <p class="card-text">Address: <%= @car.city %><br>Year: <%= @car.year %></p>
          </div>
          <h2 class="card-trip-pricing"><%= @car.price%>$</h2>
          </div>
          <div class="row">
          <div class="col-1 m-1 p-">
            <p><i class="fa-solid fa-gas-pump fa-beat" style="color: #000000;"> Full</i></p>
          </div>
          <div class="col-2 m-1 ">
            <p><i class="fa-solid fa-shield-halved fa-beat" style="color: #0d0d0d;"> Protection</i></p>
          </div>
          <div class="col-1 m-1">
            <p><i class="fa-solid fa-handshake fa-beat" style="color: #070808;"> Friendly</i></p>
          </div>
          </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card-trip m-3  p-3 card-border" style="width: 400px;">
        <%= simple_form_for [@car, @booking], data: { controller: 'flatpickr' } do |f| %>
          <div style="width: 300px;">
          <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
          </div>
          <div style="width: 300px;">
          <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endTime" } } %>
          </div>
          <%= f.submit 'Book Car', class: "card-border" %>
        <% end %>
      </div>
      <div class="card-trip m-3 p-4 card-border" style="width: 400px;">
        <h2 class="fs-3"> Owner contact</h2>
        <p class="fs-6"> You can contact the owner anytime by the following information  and they will be there for your.<br>
          Phonen number: <%= (1...10).to_a.sample %><%= (1...10).to_a.sample %><%= (1...10).to_a.sample %><%= (1...10).to_a.sample %><%= (1...10).to_a.sample %><%= (1...10).to_a.sample %><%= (1...10).to_a.sample %><%= (1...10).to_a.sample %>
        </p>

      </div>
    </div>
  </div>
</div >
